html, body, .wrapper, .header {
	height: 100%;
}

body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	padding-top:160px;

	&.home {
		padding-top: 0;
	}
}

.letter-spacing{
	letter-spacing: 0.1em;
}
/* Header */
.header {
	position: relative;
	margin: 0 auto;
	min-height: 560px;
	width: 100%;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(211,223,79,1) 42%, rgba(211,223,79,1) 67%, rgba(115,202,193,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(42%, rgba(211,223,79,1)), color-stop(67%, rgba(211,223,79,1)), color-stop(100%, rgba(115,202,193,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(211,223,79,1) 42%, rgba(211,223,79,1) 67%, rgba(115,202,193,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(211,223,79,1) 42%, rgba(211,223,79,1) 67%, rgba(115,202,193,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(211,223,79,1) 42%, rgba(211,223,79,1) 67%, rgba(115,202,193,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(211,223,79,1) 42%, rgba(211,223,79,1) 67%, rgba(115,202,193,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#73cac1', GradientType=0 );
}

.bg-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bg-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	@media(min-width:@screen-sm-min) {
		min-width: 100%;
		min-height: 100%;
	}
}

.title {
	z-index: 1000;
	margin: 0 auto;
	width: 100%;
	position: absolute;
	top: 60%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-60%);
	transform: translateX(-50%) translateY(-60%);

	.modify & {
		-webkit-transform: translateX(-50%) translateY(160%);
		transform: translateX(-50%) translateY(160%);
	}
}

.title h1 {
	color: #fff;
    font-weight: 400;
    font-size: 1em;
    @media(min-width:@screen-md-min) {
	    font-size: 2em;
	}
    margin: 0 auto;
    text-align: center;
    background: #222;
	opacity: 0.8;
}


.title h2 {
	color: #fff;
	margin-top: 0;
}

.title p {
	.lead();

	font-weight: 100;
	font-size: 2em;
	color: #fff;
}


/* Trigger Button */
button.trigger {
	position: fixed;
	bottom: 40px;
	left: 50%;
	z-index: 5000;
	display: block;
	margin-left: -0.5em;
	padding: 0;
	width: 1.4em;
	height: 1em;
	border: none;
	background: transparent;
	color: transparent;
	font-size: 3em;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
}

.wrapper:not(.notrans) button.trigger {
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.wrapper.modify:not(.notrans) button.trigger {
	opacity: 0;
	pointer-events: none;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

button.trigger::before {
	position: absolute;
	bottom: 100%;
	left: -100%;
	padding: 0.8em;
	width: 300%;
	color: #fff;
	content: attr(data-info);
	font-size: 0.35em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

button.trigger:focus {
	outline: none;
}

button.trigger span {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

button.trigger span::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	content: "\f107";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'FontAwesome';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/***** Individual effects *****/

/* -------------------------- */
/* Jam 3 */
/* -------------------------- */
.intro-effect-jam3:not(.notrans) .bg-img {
	-webkit-transition-property: top, left, right, bottom;
	transition-property: top, left, right, bottom;
}

.intro-effect-jam3:not(.notrans) .header h1,
.intro-effect-jam3:not(.notrans) .codrops-top a {
	-webkit-transition-property: color;
	transition-property: color;
}

.intro-effect-jam3:not(.notrans) .codrops-demos a {
	-webkit-transition-property: border-color, color;
	transition-property: border-color, color;
}

.intro-effect-jam3:not(.notrans) .header .subline {
	-webkit-transition-property: color, opacity, -webkit-transform;
	transition-property: color, opacity, transform;
}

.intro-effect-jam3:not(.notrans) .content > div {
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
}

.intro-effect-jam3:not(.notrans) .bg-img,
.intro-effect-jam3:not(.notrans) .header h1,
.intro-effect-jam3:not(.notrans) .codrops-top a,
.intro-effect-jam3:not(.notrans) .codrops-demos a,
.intro-effect-jam3:not(.notrans) .content > div {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.intro-effect-jam3:not(.notrans) .header .subline,
.intro-effect-jam3:not(.notrans) .content > div {
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.intro-effect-jam3.modify:not(.notrans) .header .subline,
.intro-effect-jam3.modify:not(.notrans) .content > div {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.intro-effect-jam3 .codrops-demos a {
	color: #fff;
}

.intro-effect-jam3 .codrops-demos a.current-demo {
	border-color: #fff;
}

.intro-effect-jam3.modify .codrops-demos a {
	color: #c03b5d;
}

.intro-effect-jam3.modify .codrops-demos a.current-demo {
	border-color: #c03b5d;
}

.intro-effect-jam3.wrapper {

}

.intro-effect-jam3 .bg-img {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	img {
		.translate3d(0,0%,0);
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}
}

.intro-effect-jam3.modify .bg-img {
	top: 0;
	right: 0;
	bottom: 60%;
	left: 0;
	img {
		.translate3d(0,-60%,0);
	}
}

.intro-effect-jam3 .header h1 {
	color: #fff;
	opacity: 1;
	.transition(opacity 0.4s)
}

.intro-effect-jam3.modify .header h1 {
	opacity: 0;
	.transition(opacity 0.4s)
}

.intro-effect-jam3 .header .subline {
	color: #514753;
	opacity: 0;
	z-index: 1000;
	margin: 0 auto;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(0%);
	transform: translateX(-50%) translateY(0%);
	.lead{
		font-weight: 100;
		font-size: 1.8em;
	}
}

.intro-effect-jam3.modify .subline {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}


.intro-effect-jam3 .header,
.intro-effect-jam3 .content {
}

.intro-effect-jam3 .content > div {
	opacity: 0;
	-webkit-transform: translateY(150px);
	transform: translateY(150px);
}

.intro-effect-jam3.modify .content > div {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.intro-effect-jam3.modify .codrops-top a {
	color: #514753;
}

/* Delays */
.intro-effect-jam3.modify:not(.notrans) .header p:nth-last-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.intro-effect-jam3.modify:not(.notrans) .header p:last-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.intro-effect-jam3.modify:not(.notrans) .content > div {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.navbar-default {
	background: transparent;
	border: none;
	margin-bottom: 0;
}

.section_page {
	.section_page--inner {
		padding: 100px 0;
	}
	height: 100vh;
	position: relative;
	z-index: 200;
	overflow: hidden;
	&:nth-child(2n+1) {
		background: @brand-primary;
	}

	&:nth-child(2n) {
		background: @brand-secondary;
	}

	h3 {
		color: #fff;
		margin-bottom: 35px;
		font-size: 2.5em;
	}
	p {
		color: #fff;
	}

	.stamp {
	    position: absolute;
	    right: -5%;
	    bottom: -10%;
	    z-index: -1;
	}
}


.content {
	position: relative;
}

.affix {
  position: fixed !important;
  top: 140px;
  width: 220px;
}

@media screen and (min-width: 992px) {
	.sidenav {
		width: 15%;
		margin-left:11%;
		z-index: 999;
  }
}
@media screen and (min-width: 1200px) {


}
.affix-top {
    top: 110px;
    position: absolute;
    z-index: 9999;
}
.affix-bottom {
  position: absolute;
  //top: auto;
  //bottom: 620px;
}

.navbar {
	padding: 35px 0;
	
}

.bar_toggle {
	text-align: right;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	.letter-spacing();
	background: none;
	border:none;
	.pull-right();
	z-index: 1200;
}

.nav_menu-toggle {
	position: fixed;
    top: 20px;
    width: auto;
    z-index: 1300;
    padding: 35px 0;
    right: 0;
}

.header_nav {
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;
    padding: 35px 0;
    .transition(0.8s);
    .translate(0,-100%);
    background: #fff;

    .home & {
    	.translate(0,-100%);
    }

    .open-menu & {
    	background: #fff;
    	.translate(0,0%);
    }
}

.logo-symbol,.logo-word {
	@media(min-width:@screen-md-min) {
		float: left;
	}
}

.navbar-fixed-top{
}
.header_nav{
	background: #fff;
	border-bottom: 1px solid #f6f6f6;
	.navbar-nav{
		&>li.menu-item{
			text-transform: uppercase;
			font-size: @font-size-small;
			color: @gray-dark;
			font-weight: 700;
			.letter-spacing();
			&>a{
				color: @gray-dark;
				padding-top: 20px;
				padding-bottom: 20px;
				@media (min-width: 1200px){
					padding-bottom: 20px;
				} 
				&:hover,
				&:focus{
					color: @brand-primary;
					background: #fff;
				}
				padding-left: 20px;
				padding-right: 20px;
				@media(min-width:@screen-md-min) {
					padding-left: 10px;
					padding-right: 10px;
				}
				@media(min-width:@screen-lg-min) {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
			&.active>a,
			&.active>a:hover,
			&.active>a:focus{
				color: @brand-primary;
				background: none;
			}
		}
	}
}

.sidenav{
	.sidenav_title{
		text-transform: uppercase;
		color: @gray-dark;
		.letter-spacing();
	}
	.sidenav_menu{
		padding-left: 0px;
		list-style-position: inside;
		.menu_item{
			color: @brand-light;
			border-bottom: 1px solid #49beb1;
			.letter-spacing();
			a{
				text-decoration: none;
				color: @brand-light;
				padding: 8px 0;
				display: block;
				font-weight: 400;
				&:hover{
					color: #fff;
					font-weight: 700;
				}
			}
			&:hover{
				color: #fff;
			}
		}
	}
}

.post-title a{
	&:hover{
		text-decoration: none;
	}
}
.more_link{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	.letter-spacing();
	.article-footer  &{
		color: @brand-primary;
	}
	.fa{
		font-size: @font-size-small;
	}
	&:hover{
		text-decoration: none;
		.article-footer  &{
			color: darken(@brand-primary, 10%);
		}
	}
}

.download-link{
	color: @brand-primary;
	font-weight: 700;
	text-decoration: none;
	padding: 20px;
	padding: 20px 40px;
	border-radius: 20px;
	border: 2px solid @brand-primary;
	display: inline-block;
	margin-top: 30px;
	.letter-spacing();
	&:hover{
		text-decoration: none;
		color: darken(@brand-primary, 10%);
		border-color: darken(@brand-primary, 10%);
	}
}

// Page/ Article
.page_article{
	padding-bottom: 60px;
}
.page_article--title,
.page-title{
	.letter-spacing();
	margin-bottom: 40px;
}

blockquote{
	color: @brand-success;
	border-color: @brand-success;
}

img.alignright{
	 float: right;
	 margin-left: 20px;
	 margin-bottom: 20px;
}

img.alignleft{
	 float: left;
	 margin-right: 20px;
	 margin-bottom: 20px;
}

img.aligncenter{
	 margin: 10px auto 20px;
	 display: block;
}

// Single Page
.single_page{
	.content_col{
		padding: 10px; 
		border: 1px solid @brand-primary;
		margin-top: 10px;
		margin-bottom: 40px;
		border-radius: @border-radius-large;
		&.col_middle{
			border: none;
			text-align: center;
			padding: 70px 10px;
			.fa{
				color: @brand-primary;
				.fa-5x();
			}
		}
	}
}

// Widgets
.widget{
	margin-bottom: 60px;
	ul{
		padding-left: 0px;
		list-style-position: inside;
		li{
			border-bottom: 1px solid @gray-lighter;
			color: @gray;
			.letter-spacing();
			.contact_widget&{
				padding: 8px 0;
			}
			&:hover{
				color: @brand-primary;
				font-weight: 700;
			}
			a{
				display: block;
				padding: 8px 0; 
				color: @gray;
				.contact_widget&{
					padding: 0px;
				}
				&:hover,
				&:focus{
					text-decoration: none;
					color: @brand-primary;
					font-weight: 700;
				}
			}
			&.current-menu-item{
				color: @brand-primary;
				a{
					color: @brand-primary;
					font-weight: 700;
				}
			}
		}
	}
}
.section_widget--title{
	text-transform: uppercase;
	font-size: @font-size-base;
	font-weight: 700;
	.letter-spacing();
}

.footer_primary{
	padding-top: 40px;
	padding-bottom: 40px;
	color: #fff;
	font-size: @font-size-small;
	font-weight: 400;
	background: url(../images/logo-watermark.png) center center no-repeat;
	background-color: @brand-success;
	a{
		color: #fff;
	}
	p{
		margin-bottom: 0px;
	}
	.primary_attribution{
		text-align: right;
	}
	.primary_slogan{
		text-align: center;
		font-size: @font-size-base;
	}
}

.single_page {
	padding: 65px 0 ;
	background: #fff;
}

.section_video {
	min-height: 550px;
	height: 100vh;

	background-size: cover;
	background-position: center;
	.video_inner {
		display: table;
		height: 100%;
		width: 100%;
		text-align: center;
		.video_inner--content {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.video_inner--content{
	.btn{
		color: #fff;
		font-size: 1em;
		.fa:before{
			border: 2px solid #fff;
			border-radius: 100%;
			display: inline-block;
			width: 40px;
			height: 40px;
			padding: 12px;
			@media(min-width:@screen-md-min) {
				width: 80px;
				height: 80px;
				padding: 22px;
			}
		}
		@media(min-width:@screen-md-min) {

			font-size: 2em;

		}
		&:hover{
			color: @brand-primary !important;
			.fa:before{
				border-color: @brand-primary;
			}
		}
	}
	.more_link{
		@media(min-width:@screen-md-min) {
			padding: 20px 40px;
		}
		padding: 10px 20px;
		border-radius: 20px;
		border: 2px solid #fff;
		display: inline-block;
		margin-top: 30px;
		&:hover{
			border-color: @brand-primary;
		}
	}
}

.section_logo {
	display: none;
	.modal & {
		display: block;
		margin-bottom: 35px;

	}
}

.page_article--title {
	display: block;
}


// Contact Collapse
a.list-group-item{
	border: none;
	color: @gray;
	.letter-spacing();
	display: list-item;
	display: block;
	list-style-position: inside;
	padding: 2px 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	&:first-of-type{
		border-top: none;
	}
	&:hover,
	&:focus{
		background: #fff;
		color: @brand-primary;
		font-weight: 700;
	}
	&:before{
		content: "\2022";
		font-size: 1.4em;
		margin-right: 5px;
	}
}

.values{
	padding-left: 0px;
	.value{
		border: 1px solid @brand-primary;
		padding: 10px;
		border-radius: @border-radius-large;
		margin-bottom: 20px;
		&:hover{
			background: @brand-primary;
			h4{
				color: #fff;
			}
		}
		h4{
			margin-top: 0px;
			color: @brand-primary;
		}
	}
}

// Gravity Forms
.gform_wrapper {

	// Form Body
	.gform_body{

		.gform_fields{
		
			.gfield{
		
				.gfield_label{
					margin-bottom: 0px;
					padding-bottom: 0px;
					color: @brand-primary;
				}

				select{

				}

				input[type=text],
				input[type=email],
				input[type=tel],
				input[type=url],
				textarea{
					padding: 5px 10px;
					border:1px solid @gray;
					border-radius: @border-radius-base;
					&:active,
					&:focus{
						border-color: @brand-primary;
					}
				}

				.gfield_radio{
					li{
						input[type=radio]{

						}
					}
				}

				.gfield_checkbox{
					li{
						input[type=checkbox]{

						}
					}
				}
			}

			.gfield_error{
				.validation_message{

				}
			}
		}
	}

	// Form Footer
	.gform_footer{

		input[type=submit]{
			.btn();
			.btn-link();
			font-weight: 700;
			text-transform: uppercase;
			.letter-spacing();
			border: 2px solid @brand-primary !important;
			border-radius: @border-radius-large;
			&:hover{
				text-decoration: none;
			}
		}	
	}

	// Validation Error
	.validation_error{

	}
}

// Confirmation Message
.gforms_confirmation_message{
	font-weight: 700;
	color: @brand-primary;
	text-align: center;
}